body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: #1C3D58 !important; */
}

/* Appbar style goes here */
.appbar-icons:hover{
  color: #F25C05 !important;
}
.profile-menus{
  color: #1C3D58 !important;
  font-size: 14px !important;
  padding-right:50px !important;
}
.profile-menus:hover{
  background-color: #F25C05 !important;
  color: #ffffff !important;
  transition: 0.2s;
  border-radius:5px;
}

/* Overview Cards Style goes here */

.dashboard-head-content h3{
    color: #1C3D58;
}
.dashboard-head-content p{
    color: #6B6B6B;
}
.overview-cards{
    border:1px solid #1c3d581b;
    border-radius:8px;
    box-shadow: 0px 1px 8px #1c3d582c;
}
.overview-cards h4{
    color: #1C3D58;
    font-size:22px;
    font-weight: bold;
    margin-bottom:5px;
}
.overview-cards p{
    font-size: 15px;
    color: #6B6B6B;
}
.overview-cards .sub-text{
    color: #1C3D58;
}
.overview-cards .inner-cards{
    background-color: #F1F1F1;
}
.overview-cards .inner-cards p{
    color: #265a84f3;
}
.stats-cards p{
    color: #265a84f3;
    font-size: 14px;
}

/* UserManagement page Style goes here */
.add-users-btn{
  background-color: #1b4b72ff !important;
  border: none;
  color: #ffff;
  font-size:14px;
  padding: 8px 20px
}
.add-users-btn:hover{
  background-color: #F25C05 !important;
}
.search-input{
  padding: 8px 10px;
  borderRadius: 5px !important;
  border: 1px solid #1c3d5834;
  fontSize: 14px !important;
  color: #1C3D58 !important;
}
.search-input::placeholder{
  color: #6B6B6B !important;
  fontSize: 13px !important;
}
.search-input:focus{
  box-shadow:none !important;
  border-color: #1c3d5834;
  outline: none;
}
.label-field{
  color: #1C3D58;
  font-size: 15px;
}

.table thead th{
  padding: 15px 12px !important;
  color: #163249ff !important;
  font-size: 15px !important;
  font-weight: 500;
  white-space: nowrap;
}
.table tbody td{
  padding: 18px 12px !important;
  font-size: 13.5px;
  color: #1C3D58;
  white-space: nowrap;
}
.custom-pagination .page-item.active .page-link {
  background-color: #1B3C73;
  border-color: #1B3C73;
  color: #fff;
}
.page-item:first-child .page-link{
  border-bottom-left-radius: 5px !important;
}
.custom-pagination .page-link {
  color: #1B3C73;
}
.custom-pagination .page-item .page-link:focus{
  box-shadow: none !important;
}

.badge-pro {
  background-color: #F25C05 !important;
  color: #fff;
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 20px;
}

.badge-basic-free {
  background-color: #254a681a !important;
  color: #1C3D58;
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 20px;
}

.badge-active {
  background-color: #F25C05 !important;
  color: #fff;
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 20px;
}

.badge-inactive {
  background-color: #254a681a !important;
  color: #1C3D58;
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 20px;
}
.no-caret::after {
  display: none !important;
}
.edit-icon{
  color: #1C3D58;
  font-size: 20px !important;
  cursor: pointer;
}
.delete-icon{
  color: red;
  font-size: 20px !important;
  cursor: pointer;
}
.view-icon{
  font-size: 20px !important;
  color: #1C3D58;
  cursor: pointer;

}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 41, 55, 0.7); /* dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #fff; 
  padding: 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.modal-content h4{
  color: #1C3D58;
}
.activity-view-model strong{
  color: #1C3D58;

}
.activity-view-model p{
  color: #6B6B6B;
}

/* Drill Library Page Style goes here */
.thumbnail-box{
  background-color: #F1F1F1;
}
.thumbnail-box iframe {
  border-radius: 5px;
}

.drillcards-heading h5{
  color: #1C3D58;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}
.drillcards-heading .drill-icons{
  color: #1C3D58;
}
.drillcards-heading .drill-icons:hover{
  color: #F25C05;
  cursor: pointer;
}
.drillcards-heading #delete-icon{
  color: #e42319ff;
}
.drillcards-heading #delete-icon:hover{
  color: #F25C05;
}
.drillcards-content p{
  font-size: 13.5px;
}
.drillcards-content span{
  background-color: #1c3d581a;
  padding: 4px 10px;
  color: #1C3D58;
  font-size: 12px;
  border-radius: 50px;
  font-weight: bold;
}
.drillcards-content .advance-badge{
  background-color: #fee2e2;  
  color: #bf241cff;
}
.drillcards-content .beginner-badge{
  background-color: #dcfce7;
  color: #1d7054;
}
.drillcards-content .intermediate-badge{
  background-color: #fef9c3;
  color: #b78528ff;
}

/* Drill model style */
.drill-label{
  color: #1C3D58;
}

/* NBA Data page style goes here */
.vedio-upload-card{
  border: 2px dashed #6b6b6b46;
}
.vedio-upload-card .upload-icon{
  color: #1c3d58d1;
  font-size: 48px;
}
.vedio-upload-card h4{
  font-size: 18px;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  color: #6B6B6B;
  background-color: transparent ;
  transition: 0.2s;
}
.custom-file-upload:hover {
  background-color: #F25C05;
  color: #ffffff;
  border: 1px solid #F25C05;
}
.nba-nav-items{
  color: #1C3D58;
  font-size: 14px;
}
.nba-nav-items:hover{
  background-color: #F25C05;
  color: #ffff;
  border-radius: 5px;
}


/* Notification page style goes here */
.notification-icons{
  color: #F25C05;
  font-size: 30px !important;
}

.notification-content-cards h4{
  font-size:20px !important;
}
.notification-content-cards h5{
  color: #1C3D58;
  font-size: 14px;
}
.notification-content-cards span{
  color: #6B6B6B;
  font-size: 14px;
  margin-right: 12px; 
}
.notification-btns{
  background-color: transparent;
  color: #1C3D58;
  border: 1px solid #ccc;
  font-size: 14px; 
}
.notification-btns:hover{
  background-color: #F25C05 !important;
  border: 1px solid #F25C05;
}
.Analytics-card h5{
    color: #1C3D58;
    font-size:16px;
    font-weight: bold;
    margin-bottom:5px;
}
.Analytics-card p{
    font-size: 14px;
    color: #6B6B6B;
}

/* Setting page style goes here */
.notification-content-cards .setting-input{
  font-size: 14px;
  color: #6B6B6B;
}
.notification-content-cards .setting-input:focus{
  outline: none;
}

/* Profile page style is goes here */
.upload-btn:hover{
    background-color: #F25C05 !important;
    color: #fff !important;
}

/* Login page style is goes here */
.login-section {
  background-color: #1C3D58;
}
.divider{
  width: 100px;
  border: 1px solid #F25C05;
}
.login-form-label{
    color: #1C3D58;
    font-size: 16px;
}
.login-btn:hover{
  background-color: #1C3D58 !important;
}

/* media curies goes here */
@media screen and (max-width: 992px){
  .notification-content-cards .setting-input-head{
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
  }
}

@media screen and (max-width: 767px){
  .drillcards-content .drill-badges-head{
    display: flex !important;
    flex-direction: column !important;
    justify-content: start !important;
  }
  .drillcards-content .drill-badges-head .drill-badges{
    width: 100%;
    text-wrap: nowrap;
  }
    .drillcards-content .drill-badges-head .drill-complete-btn{
      width: 100%;
      margin-top: 20px;
    }
}
@media screen and (max-width: 650px){
  .drillcards-heading h5{
    font-size: 13px !important;
  }
  .drillcards-content p{
    font-size: 12px !important;
  }
  .drillcards-heading #delete-icon{
    margin-left: 8px !important;
  }
  .profile-header{
        display: flex;
        flex-direction: column;
    }
    .profile-img{
        width: 100% !important;
    }
    .profile-form{
        width: 100% !important;
        margin-top: 10px;
    }
}

@media screen and (max-width: 572px){
  .css-1v5u2yv{
    padding: 12px !important;
  }

}
